<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.user.entity.User_MySQL" alias="User_MySQL"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.participation.entity.ACC.ACC_Gender" alias="ACC_Gender"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.participation.entity.ACC.ACC_Age" alias="ACC_Age"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.survey.entity.mysql.Survey_MySQL" alias="Survey_MySQL"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.common.paging.Criteria_MySQL" alias="Criteria_MySQL"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.common.paging.PaginationInfo_MySQL" alias="PaginationInfo_MySQL"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.tag.dto.TagDTO" alias="TagDTO"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.tag.entity.SurveyTag" alias="SurveyTag"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.tag.entity.Tag" alias="Tag"/>
    </typeAliases>

</configuration>