<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.user.entity.User_MySQL" alias="User_MySQL"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.participation.dto.ParticipationDTO" alias="ParticipationDTO"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.survey.entity.mysql.Survey_MySQL" alias="Survey_MySQL"/>
        <typeAlias type="com.mongoosereum.dou_survey_zone.v1.api.tag.dto.TagDTO" alias="TagDTO"/>
    </typeAliases>

</configuration>